<h1>All the categories!!</h1>

<% @categories.each do |category| %>
  <div class="category">
    <h2>Name: <%= category.name %></h2>
    <%= link_to "See the dishes", category_dishes_path(category) %>
  </div>
<% end %>
